**Enonc√©:**

Donner les distances entre les grandes villes de France.

----------

In [9]:
# coding: utf-8
import requests
import unittest
import json
import pandas as pd

In [4]:
def get_distances(origin, destination):
    api_url = 'https://fr.distance24.org/route.json?stops=' + origin + '|' + destination
    req = requests.get(api_url)
    json_req = json.loads(req.text)
    return json_req['distance']

In [50]:
cities = [Paris, Marseille, Lyon, Bordeaux, Nantes, Nice, Toulouse]
df = pd.DataFrame(index=cities, columns=cities)
for city1 in df.index:
    for city2 in df.index:
        df.loc[city1, city2] = get_distances(city1, city2)

In [51]:
df

           Paris  Marseille  Lyon  Bordeaux  Nantes  Nice  Toulouse
Paris          0        661   392       500     343   688       589
Marseille    661          0   278       506     696   159       319
Lyon         392        278     0       436     516   300       360
Bordeaux     500        506   436         0     276   638       212
Nantes       343        696   516       276       0   792       466
Nice         688        159   300       638     792     0       469
Toulouse     589        319   360       212     466   469         0